.UserOutput {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 1% auto;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    border: 2px solid grey;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

.UserInput {
    width: 60%;
    margin: auto;
}

.UserInput input {
    padding: 1%;
    width: 35%;
}
